@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600&display=swap');
@import url("composants/conteneur.css");
@import url("composants/avatar.css");
@import url("composants/boutons.css");
@import url("composants/bannière.css");
@import url("composants/carte.css");
@import url("composants/paragraphe_image.css");
@import url("composants/liste.css");
p {
	font-family: 'Montserrat', sans-serif;
	font-size: 130%;
}
h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}
body {
	margin: 0px;
	background-color: #F5F5F5;
}